// Variables
$text-color: #ffffff;
$button-color: #A2EC00;
$button-hover: #84c100;
$border-radius: 0.3125rem; // 5px -> rem
$gradient-start: rgba(14, 14, 14, 0.63); // Color inicial con transparencia
$gradient-end: rgba(14, 14, 14, 1);     // Color final

// Global Styles
html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(180deg, $gradient-start 23%, $gradient-end 100%);
  color: $text-color;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  display: flex;
  //flex-direction: column;
  max-width: 120rem; // 1280px -> rem
  width: auto;
  margin: 7rem auto auto; // 50px -> rem
  padding: 2rem; // 20px -> rem
  text-align: left;
  gap: 5rem; // 50px -> rem

  @media screen and (min-width: 99.3rem) { // 993px -> rem
    flex-direction: row;
    gap: 2rem; // 20px -> rem
  }
}

// Header Section
.box-titulo {
  width: 30%;

  h1 {
    font-family: "Roboto Mono", serif;
    font-size: 4rem; // 25px -> rem
    line-height: 4.4rem;
    margin-bottom: 1rem; // 10px -> rem

    .highlight {
      color: $button-color;
    }
  }

  p {
    font-family: "Open Sans", serif;
    font-size: 1.6rem; // 16px -> rem
    margin-bottom: 3rem; // 30px -> rem
    line-height: 1.5;
  }
}

// Translator Section
.box-traductor {
  width: 70%;

  .translator {
    display: flex;
    flex-direction: column;
    gap: 2rem; // 20px -> rem
    width: auto;

    .input-section,
    .output-section {
      background: #333;
      padding: 2rem; // 20px -> rem
      border-radius: $border-radius;
    }

    textarea {
      font-family: "Open Sans", serif;
      width: 100%;
      height: 10rem; // 100px -> rem
      margin-bottom: 1rem; // 10px -> rem
      border: 0.1rem solid #555; // 1px -> rem
      border-radius: $border-radius;
      padding: 1rem; // 10px -> rem
      font-size: 1.6rem; // 16px -> rem
      resize: none;
      color: $text-color;
      background: #444;

      &::placeholder {
        color: #999;
      }
    }

    button {
      font-family: "Roboto Mono", serif;
      background: $button-color;
      color: #000;
      border: none;
      padding: 1rem 1.5rem; // 10px 15px -> rem
      font-size: 1.6rem; // 16px -> rem
      cursor: pointer;
      border-radius: $border-radius;
      text-transform: uppercase;
      transition: all 0.3s ease;

      &:hover {
        background: $button-hover;
      }
    }

    .output-section {
        .morse-char {
            display: inline-block;
            margin: 0 5px;
            transition: color 0.3s ease, background-color 0.3s ease;
          }
          
          .morse-char.highlight {
            color: #fff;
            background-color: #A2EC00;
            padding: 2px 5px;
            border-radius: 3px;
          }
      .buttons {
        display: flex;
        justify-content: space-between;

        button {
          flex: 1;
          margin: 0 0.5rem; // 5px -> rem
        }
      }
    }
  }
}
